{% extends "base.html" %}

{% block "title" %}Įrašas{% endblock %}

{% block "content" %}
<h5 class="mb-1">{{ post.title }}</h5>
<small class="text-muted">Autorius:
    <img class="rounded-circle account-img" style="width: 30px" src="{{ post.author.photo.url }}">
    {{ post.author }} | {{ post.date_created|date:"Y-m-d" }}</small>
{% if post.cover %}
<img src="{{ post.cover.url }}" class="card-img-top">
{% endif %}
<p class="mb-1">{{ post.content|safe }}</p>
<hr>
<p class="mb-1">Komentarų: {{ post.comments_count }}</p>
{% if user.is_authenticated %}
<h2>Palikite atsiliepimą</h2>
<form method="post" class="mb-2">
    {% csrf_token %}
    {% load crispy_forms_tags %}
    {{ form | crispy }}
    <button type="submit" class="btn btn-primary">Paskelbti</button>
</form>
{% endif %}
{% for comment in post.comments.all %}
<div class="card mb-3">
    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">
            <img class="rounded-circle account-img" style="width: 30px" src="{{ comment.author.photo.url }}">
            {{ comment.author }} | {{ comment.date_created|date:"Y-m-d H:i" }}</h6>
        <p class="card-text">{{ comment.content }}</p>
    </div>
</div>
{% empty %}
<div class="alert alert-info">Nėra komentarų.</div>
{% endfor %}
{% endblock %}